//Colors
$white      : #FFF;
$lightRed   : #E65C43;
$lightGrey  : #666;
$darkRed    : #F25C43;
$greyBar    : #F5F6F6;
$darkGrey   : #30353D;


//Web Font
$roboto : Roboto;
$sansSerif : sans-serif;


//Image paths
$backgroundImage : url('../images/bg.gif');
$logoImage       : url('../images/logo.png');
$socialMediaImage: url('../images/social-media.png');


$socialMediaBg: 'one', 'two', 'three', 'four';

$large : 959px;
$medium: 767px;
$small : 459px;